name: Windows Build

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable
      with:
         toolchain: stable

    - name: Build Release
      run: cargo build --release

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: lynx-vmix.exe
        path: target/release/lynx-vmix.exe

    - name: Release
      uses: softprops/action-gh-release@v2
      if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
      with:
        files: target/release/lynx-vmix.exe
        tag_name: build-${{ github.sha }}
        name: Build ${{ github.sha }}
